<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section">

  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">
      <h2>Contact</h2>
      <p class="separator">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-3 col-md-4">
        php-email-form
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>A108 Adam Street<br>New York, NY 535022</p>
          </div>

          <div class="email">
            <i class="fa fa-envelope"></i>
            <p>info@example.com</p>
          </div>

          <div>
            <i class="fa fa-phone"></i>
            <p>+1 5589 55488 55s</p>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>

      </div>

      <div class="col-lg-5 col-md-8">
        <div class="form">
          <form action="/" method="POST" id="myForm">
            <div class="form-group">
              <input type="text" name="yourName" class="form-control" placeholder="Your Name" />
              <!-- <div class="validate"></div> -->
            </div>
            
            <div class="form-group">
              <input type="email" name="yourEmail" class="form-control" placeholder="Your Email" />
              <!-- <div class="validate"></div> -->
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject"  placeholder="Subject" />
              <!-- <div class="validate"></div> -->
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" placeholder="Message"></textarea>
              <!-- <div class="validate"></div> -->
            </div>
            <!-- <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
            <div class="text-center"><button class="btn btn-info" type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Contact Section -->