<%- include('partials/header') -%>
<section id="hero">
    <div class="hero-container">
        <h1>Your response have been submitted</h1>
        <a href="/" class="btn btn-primary btn-sm">Back to Home</a>
    </div>
  </section><!-- End Hero Section -->
<%- include('partials/footer') -%>