<!-- <%- include('partials/header') -%> -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Thanks for Submitting!!!</h1>
      
    </div>
  </section><!-- End Hero Section -->
<%- include('partials/footer') -%>